{:highlights [{:id #uuid "645624df-4400-4904-a7ab-90bb188ce7e6",
               :page 21,
               :position {:bounding {:x1 0,
                                     :y1 77.60000610351562,
                                     :x2 799.7576293945312,
                                     :y2 556.7500152587891,
                                     :width 892.4159999999999,
                                     :height 1228.4159999999997},
                          :rects ({:x1 0,
                                   :y1 77.60000610351562,
                                   :x2 0,
                                   :y2 98.4000015258789,
                                   :width 892.4159999999999,
                                   :height 1228.4159999999997}
                                  {:x1 319.9750061035156,
                                   :y1 511.0375213623047,
                                   :x2 799.7576293945312,
                                   :y2 534.2375030517578,
                                   :width 892.4159999999999,
                                   :height 1228.4159999999997}
                                  {:x1 95.20000457763672,
                                   :y1 533.5500030517578,
                                   :x2 651.7086791992188,
                                   :y2 556.7500152587891,
                                   :width 892.4159999999999,
                                   :height 1228.4159999999997}),
                          :page 21},
               :content {:text "Your design should be specific to the problem at hand but also general enough to address future problems and requirements. "},
               :properties {:color "blue"}}
              {:id #uuid "645628fa-f245-4e99-a0dd-36de6dd501d6",
               :page 23,
               :position {:bounding {:x1 106.48750305175781,
                                     :y1 194.89999389648438,
                                     :x2 560.1549682617188,
                                     :y2 219.70001220703125,
                                     :width 1019.9040000000001,
                                     :height 1403.9039999999998},
                          :rects ({:x1 106.48750305175781,
                                   :y1 194.89999389648438,
                                   :x2 560.1549682617188,
                                   :y2 219.70001220703125,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}),
                          :page 23},
               :content {:text "In general, a pattern has four essential elements:"},
               :properties {:color "green"}}
              {:id #uuid "64562a78-d32d-46cd-8c87-0353ddf6ff90",
               :page 23,
               :position {:bounding {:x1 0,
                                     :y1 557.6000366210938,
                                     :x2 915.4970703125,
                                     :y2 1202.737548828125,
                                     :width 1019.9040000000001,
                                     :height 1403.9039999999998},
                          :rects ({:x1 0,
                                   :y1 557.6000366210938,
                                   :x2 0,
                                   :y2 578.400032043457,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 0,
                                   :y1 573.6000366210938,
                                   :x2 0,
                                   :y2 594.4000358581543,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 879.0125122070312,
                                   :y1 1126.4750366210938,
                                   :x2 915.4970703125,
                                   :y2 1151.2750549316406,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 108.0250015258789,
                                   :y1 1152.2125549316406,
                                   :x2 915.0992431640625,
                                   :y2 1177.0125732421875,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 107.63750457763672,
                                   :y1 1177.9375610351562,
                                   :x2 694.2769775390625,
                                   :y2 1202.737548828125,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}),
                          :page 23},
               :content {:text "The design patterns in this book are descriptions of communicating objects and classes that are customized to solve a general design problem in a particular context."},
               :properties {:color "green"}}
              {:id #uuid "64562cfa-8fd5-4891-a5a6-0b832516ffb2",
               :page 24,
               :position {:bounding {:x1 0,
                                     :y1 397.6000061035156,
                                     :x2 915.0853881835938,
                                     :y2 944.6375122070312,
                                     :width 1019.9040000000001,
                                     :height 1403.9039999999998},
                          :rects ({:x1 0,
                                   :y1 397.6000061035156,
                                   :x2 0,
                                   :y2 418.4000015258789,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 0,
                                   :y1 413.6000061035156,
                                   :x2 0,
                                   :y2 434.4000015258789,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 106.36250305175781,
                                   :y1 867.9750061035156,
                                   :x2 914.3571166992188,
                                   :y2 893.5750122070312,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 106.75,
                                   :y1 893.7000122070312,
                                   :x2 915.0853881835938,
                                   :y2 919.3000183105469,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 106.75,
                                   :y1 919.0375061035156,
                                   :x2 214.0124969482422,
                                   :y2 944.6375122070312,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}),
                          :page 24},
               :content {:text "MVC consists of three kinds of objects. The Model is the application object, the View is its screen presentation, and the Controller defines the way the user interface reacts to user input. "},
               :properties {:color "purple"}}
              {:id #uuid "64562d0e-36b1-429c-a533-7570b7ef3c75",
               :page 24,
               :position {:bounding {:x1 0,
                                     :y1 461.60003662109375,
                                     :x2 914.86767578125,
                                     :y2 1032.5750427246094,
                                     :width 1019.9040000000001,
                                     :height 1403.9039999999998},
                          :rects ({:x1 0,
                                   :y1 461.60003662109375,
                                   :x2 0,
                                   :y2 482.40003967285156,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 106.36250305175781,
                                   :y1 980.862548828125,
                                   :x2 914.86767578125,
                                   :y2 1006.4625549316406,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}
                                  {:x1 106.75,
                                   :y1 1006.9750366210938,
                                   :x2 160.6995849609375,
                                   :y2 1032.5750427246094,
                                   :width 1019.9040000000001,
                                   :height 1403.9039999999998}),
                          :page 24},
               :content {:text "MVC decouples views and models by establishing a subscribe/notify protocol between them."},
               :properties {:color "purple"}}
              {:id #uuid "64564a02-2d6d-4223-bab4-bc6fcb1ab7c6",
               :page 30,
               :position {:bounding {:x1 57,
                                     :y1 75.599609375,
                                     :x2 744,
                                     :y2 382.599609375,
                                     :width 796.8,
                                     :height 1096.7999999999997},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1683376634955},
               :properties {:color "blue"}}
              {:id #uuid "645735cd-3380-4e0c-aadf-7e06c42ff52d",
               :page 30,
               :position {:bounding {:x1 0,
                                     :y1 611.4125061035156,
                                     :x2 715.9520263671875,
                                     :y2 674.4000244140625,
                                     :width 796.8,
                                     :height 1096.7999999999997},
                          :rects ({:x1 238.82501220703125,
                                   :y1 611.4125061035156,
                                   :x2 709.4193725585938,
                                   :y2 631.4125061035156,
                                   :width 796.8,
                                   :height 1096.7999999999997}
                                  {:x1 84.0250015258789,
                                   :y1 631.2124938964844,
                                   :x2 715.9520263671875,
                                   :y2 651.2124938964844,
                                   :width 796.8,
                                   :height 1096.7999999999997}
                                  {:x1 0,
                                   :y1 637.6000061035156,
                                   :x2 0,
                                   :y2 658.3999938964844,
                                   :width 796.8,
                                   :height 1096.7999999999997}
                                  {:x1 83.7249984741211,
                                   :y1 651.0125122070312,
                                   :x2 250.37850952148438,
                                   :y2 671.0125122070312,
                                   :width 796.8,
                                   :height 1096.7999999999997}
                                  {:x1 0,
                                   :y1 653.6000061035156,
                                   :x2 0,
                                   :y2 674.4000244140625,
                                   :width 796.8,
                                   :height 1096.7999999999997}),
                          :page 30},
               :content {:text "Class patterns deal with relationships between classes and thei subclasses. These relationships are established through inheritance, so they are static— fixed at compile-time."},
               :properties {:color "blue"}}
              {:id #uuid "645735e3-a447-41df-a59a-144eef43d7e4",
               :page 30,
               :position {:bounding {:x1 0,
                                     :y1 651.0125122070312,
                                     :x2 715.7787475585938,
                                     :y2 690.8125,
                                     :width 796.8,
                                     :height 1096.7999999999997},
                          :rects ({:x1 256.5249938964844,
                                   :y1 651.0125122070312,
                                   :x2 715.7787475585938,
                                   :y2 671.0125122070312,
                                   :width 796.8,
                                   :height 1096.7999999999997}
                                  {:x1 0,
                                   :y1 669.6000061035156,
                                   :x2 0,
                                   :y2 690.4000244140625,
                                   :width 796.8,
                                   :height 1096.7999999999997}
                                  {:x1 83.7249984741211,
                                   :y1 670.8125,
                                   :x2 421.5853576660156,
                                   :y2 690.8125,
                                   :width 796.8,
                                   :height 1096.7999999999997}),
                          :page 30},
               :content {:text "Object patterns deal with object relationships, which can be changed at run-time and are more dynamic."},
               :properties {:color "blue"}}],
 :extra {:page 380}}
