{:highlights [{:id #uuid "64493c51-61bb-485b-acc5-135d1e1c4735",
               :page 54,
               :position {:bounding {:x1 0,
                                     :y1 45,
                                     :x2 763.6907958984375,
                                     :y2 224.90625,
                                     :width 902.3616666666667,
                                     :height 1110.2366666666667},
                          :rects ({:x1 0,
                                   :y1 45,
                                   :x2 0,
                                   :y2 66,
                                   :width 902.3616666666667,
                                   :height 1110.2366666666667}
                                  {:x1 0,
                                   :y1 61,
                                   :x2 0,
                                   :y2 82,
                                   :width 902.3616666666667,
                                   :height 1110.2366666666667}
                                  {:x1 94.484375,
                                   :y1 159.71875,
                                   :x2 759.3167724609375,
                                   :y2 179.71875,
                                   :width 902.3616666666667,
                                   :height 1110.2366666666667}
                                  {:x1 94.484375,
                                   :y1 180.78125,
                                   :x2 763.6907958984375,
                                   :y2 202.78125,
                                   :width 902.3616666666667,
                                   :height 1110.2366666666667}
                                  {:x1 733.6875,
                                   :y1 184.1875,
                                   :x2 763.6907958984375,
                                   :y2 200.859375,
                                   :width 902.3616666666667,
                                   :height 1110.2366666666667}
                                  {:x1 94.484375,
                                   :y1 202.90625,
                                   :x2 427.421875,
                                   :y2 224.90625,
                                   :width 902.3616666666667,
                                   :height 1110.2366666666667}
                                  {:x1 377.421875,
                                   :y1 206.3125,
                                   :x2 496.8739013671875,
                                   :y2 222.984375,
                                   :width 902.3616666666667,
                                   :height 1110.2366666666667}),
                          :page 54},
               :content {:text "TDD is the acronym for Test Driven Development. It consists of writing the tests first before writing the function (instead of what we did just before when we wrote the sum function first and then we wrote the test function)."},
               :properties {:color "blue"}}],
 :extra {:page 54}}
