{:highlights [{:id #uuid "6485d8ba-450c-49ad-8549-7bf019de5b31",
               :page 18,
               :position {:bounding {:x1 0,
                                     :y1 270.4000120162964,
                                     :x2 852.0011901855469,
                                     :y2 728.3625364303589,
                                     :width 948.4000619999999,
                                     :height 1303.759922},
                          :rects ({:x1 0,
                                   :y1 270.4000120162964,
                                   :x2 0,
                                   :y2 289.5999937057495,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 0,
                                   :y1 286.4000120162964,
                                   :x2 0,
                                   :y2 305.5999937057495,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 0,
                                   :y1 302.4000120162964,
                                   :x2 0,
                                   :y2 321.5999937057495,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 0,
                                   :y1 318.4000120162964,
                                   :x2 0,
                                   :y2 337.5999937057495,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 0,
                                   :y1 334.4000120162964,
                                   :x2 0,
                                   :y2 353.5999937057495,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 217.38751220703125,
                                   :y1 557.2750120162964,
                                   :x2 801.5642700195312,
                                   :y2 580.4750242233276,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 253.36251831054688,
                                   :y1 605.2499876022339,
                                   :x2 849.9579772949219,
                                   :y2 628.4499998092651,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 277.3500061035156,
                                   :y1 630.1999998092651,
                                   :x2 441.06451416015625,
                                   :y2 653.4000120162964,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 253.36251831054688,
                                   :y1 655.1625242233276,
                                   :x2 836.9870300292969,
                                   :y2 678.3625364303589,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 277.3500061035156,
                                   :y1 680.2125120162964,
                                   :x2 343.8448486328125,
                                   :y2 703.4125242233276,
                                   :width 948.4000619999999,
                                   :height 1303.759922}
                                  {:x1 253.36251831054688,
                                   :y1 705.1625242233276,
                                   :x2 852.0011901855469,
                                   :y2 728.3625364303589,
                                   :width 948.4000619999999,
                                   :height 1303.759922}),
                          :page 18},
               :content {:text "As we began our unification, we established three goals for our work:1. To model systems, from concept to executable artifact, using objectoriented techniques2. To address the issues of scale inherent in complex, mission-critical systems3. To create a modeling language usable by both humans and machines"},
               :properties {:color "yellow"}}],
 :extra {:page 74}}
