{:highlights [{:id #uuid "646a3318-da29-4fcc-abd2-1775b47810b6",
               :page 21,
               :position {:bounding {:x1 101,
                                     :y1 723.2750244140625,
                                     :x2 281.2913818359375,
                                     :y2 740.875,
                                     :width 671.9999999999999,
                                     :height 869.6470588235293},
                          :rects ({:x1 101,
                                   :y1 723.2750244140625,
                                   :x2 281.2913818359375,
                                   :y2 740.875,
                                   :width 671.9999999999999,
                                   :height 869.6470588235293}),
                          :page 21},
               :content {:text "The Fogg Behavior Model."},
               :properties {:color "green"}}
              {:id #uuid "646a3ce3-f048-44b3-ac76-0209aa1ef398",
               :page 27,
               :position {:bounding {:x1 223,
                                     :y1 636,
                                     :x2 683,
                                     :y2 776,
                                     :width 898.0000000000001,
                                     :height 1162.1176470588236},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1684684000571},
               :properties {:color "green"}}
              {:id #uuid "6471dddb-5d5e-4333-ade3-2e80da1c6661",
               :page 29,
               :position {:bounding {:x1 167.9500091522932,
                                     :y1 254.76251220703125,
                                     :x2 677.2647216767073,
                                     :y2 280.3625183105469,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects ({:x1 167.9500091522932,
                                   :y1 254.76251220703125,
                                   :x2 677.2647216767073,
                                   :y2 280.3625183105469,
                                   :width 846,
                                   :height 1094.8235294117646}),
                          :page 29},
               :content {:text "B=MAP APPLIES TO ALL HUMAN BEHAVIOR"},
               :properties {:color "yellow"}}
              {:id #uuid "6471f5b8-171c-484c-ae45-0568afa4361a",
               :page 29,
               :position {:bounding {:x1 0,
                                     :y1 317.6000003814697,
                                     :x2 673.1964996308088,
                                     :y2 613.8374938964844,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects ({:x1 0,
                                   :y1 317.6000003814697,
                                   :x2 0,
                                   :y2 338.3999996185303,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 127.16250304877758,
                                   :y1 566.7875061035156,
                                   :x2 673.1964996308088,
                                   :y2 589.9875030517578,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 106.42499999701977,
                                   :y1 590.6374969482422,
                                   :x2 534.361828610301,
                                   :y2 613.8374938964844,
                                   :width 846,
                                   :height 1094.8235294117646}),
                          :page 29},
               :content {:text "Behaviors are like bicycles. They can look different, but the core mechanisms are the same. Wheels. Brakes. Pedals."},
               :properties {:color "yellow"}}
              {:id #uuid "6471f8f9-2283-456a-a58d-64974a3b68cd",
               :page 32,
               :position {:bounding {:x1 0,
                                     :y1 269.60003662109375,
                                     :x2 695.0254638642073,
                                     :y2 903.1000366210938,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects ({:x1 0,
                                   :y1 269.60003662109375,
                                   :x2 0,
                                   :y2 290.40003967285156,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 211.3133361786604,
                                   :y1 856.050048828125,
                                   :x2 695.0254638642073,
                                   :y2 879.2500305175781,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 106.42499999701977,
                                   :y1 879.9000549316406,
                                   :x2 297.132580563426,
                                   :y2 903.1000366210938,
                                   :width 846,
                                   :height 1094.8235294117646}),
                          :page 32},
               :content {:text "Behaviors that ultimately become habits will reliably fall above the Action Line."},
               :properties {:color "blue"}}
              {:id #uuid "6471ff57-c6ca-4870-a8ca-ab3bc8222f32",
               :page 38,
               :position {:bounding {:x1 200,
                                     :y1 592,
                                     :x2 710,
                                     :y2 1028,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1685192534689},
               :properties {:color "green"}}
              {:id #uuid "6474c1fe-d839-47d4-be95-4f263f9cbf7c",
               :page 53,
               :position {:bounding {:x1 0,
                                     :y1 78.5,
                                     :x2 679.569091796875,
                                     :y2 327.296875,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 0,
                                   :y1 78.5,
                                   :x2 0,
                                   :y2 97,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 299.3984375,
                                   :y1 288.296875,
                                   :x2 679.569091796875,
                                   :y2 327.296875,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 53},
               :content {:text "Motivation Is Unreliable"},
               :properties {:color "red"}}
              {:id #uuid "6474c204-14c7-491e-80d0-650a4ecfd16a",
               :page 53,
               :position {:bounding {:x1 276.78125,
                                     :y1 713.1953125,
                                     :x2 518.7977294921875,
                                     :y2 740.6953125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 276.78125,
                                   :y1 713.1953125,
                                   :x2 518.7977294921875,
                                   :y2 740.6953125,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 53},
               :content {:text "motivation is often fickle"},
               :properties {:color "yellow"}}
              {:id #uuid "6474c3e5-ecb2-4ebd-bce7-b53ba78524e4",
               :page 55,
               :position {:bounding {:x1 193.36827087402344,
                                     :y1 754.171875,
                                     :x2 553.6484832763672,
                                     :y2 775.671875,
                                     :width 753,
                                     :height 974.4705882352941},
                          :rects ({:x1 193.36827087402344,
                                   :y1 754.171875,
                                   :x2 553.6484832763672,
                                   :y2 775.671875,
                                   :width 753,
                                   :height 974.4705882352941}),
                          :page 55},
               :content {:text "First, motivation can come from inside a person"},
               :properties {:color "purple"}}
              {:id #uuid "6474c3ef-ab33-4cda-8487-e0a71224c82d",
               :page 55,
               :position {:bounding {:x1 0,
                                     :y1 46.5,
                                     :x2 648.7415771484375,
                                     :y2 839.3515625,
                                     :width 753,
                                     :height 974.4705882352941},
                          :rects ({:x1 0,
                                   :y1 46.5,
                                   :x2 0,
                                   :y2 65,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 412.3678894042969,
                                   :y1 796.625,
                                   :x2 648.7415771484375,
                                   :y2 818.125,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 94.7265625,
                                   :y1 817.8515625,
                                   :x2 478.2744445800781,
                                   :y2 839.3515625,
                                   :width 753,
                                   :height 974.4705882352941}),
                          :page 55},
               :content {:text "Motivation can also come from a benefit or punishment associated with a behavior."},
               :properties {:color "purple"}}
              {:id #uuid "6474c86a-2451-468a-ac82-f71df1940886",
               :page 55,
               :position {:bounding {:x1 0,
                                     :y1 96,
                                     :x2 753,
                                     :y2 1958,
                                     :width 753,
                                     :height 974.4705882352941},
                          :rects ({:x1 0,
                                   :y1 96,
                                   :x2 753,
                                   :y2 96,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 480.27740478515625,
                                   :y1 860.2954711914062,
                                   :x2 653.7618408203125,
                                   :y2 881.7954711914062,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 0,
                                   :y1 984,
                                   :x2 753,
                                   :y2 1958,
                                   :width 753,
                                   :height 974.4705882352941}),
                          :page 55},
               :content {:text "Finally, motivation can come from our context (our current environment)."},
               :properties {:color "purple"}}
              {:id #uuid "6474c9c4-3b4b-4ef1-be16-9166c08cf897",
               :page 53,
               :position {:bounding {:x1 256.4985046386719,
                                     :y1 783.296875,
                                     :x2 520.0015258789062,
                                     :y2 807.296875,
                                     :width 753,
                                     :height 974.4705882352941},
                          :rects ({:x1 256.4985046386719,
                                   :y1 783.296875,
                                   :x2 520.0015258789062,
                                   :y2 807.296875,
                                   :width 753,
                                   :height 974.4705882352941}),
                          :page 53},
               :content {:text "MOTIVATION IS COMPLEX"},
               :properties {:color "blue"}}
              {:id #uuid "6474ccba-22c5-4ffc-9e45-8cbd566e4e88",
               :page 59,
               :position {:bounding {:x1 0,
                                     :y1 14.5,
                                     :x2 655.9381103515625,
                                     :y2 173.09375,
                                     :width 753,
                                     :height 974.4705882352941},
                          :rects ({:x1 0,
                                   :y1 14.5,
                                   :x2 0,
                                   :y2 33,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 0,
                                   :y1 30.5,
                                   :x2 0,
                                   :y2 49,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 619.988525390625,
                                   :y1 109.140625,
                                   :x2 635.63818359375,
                                   :y2 130.640625,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 94.7265625,
                                   :y1 130.3671875,
                                   :x2 655.9381103515625,
                                   :y2 151.8671875,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 94.7265625,
                                   :y1 151.59375,
                                   :x2 391.78680419921875,
                                   :y2 173.09375,
                                   :width 753,
                                   :height 974.4705882352941}),
                          :page 59},
               :content {:text "In these and other cases, you got caught in a common trap of the human mind—you overestimated future motivation."},
               :properties {:color "green"}}
              {:id #uuid "6474cdec-caeb-4482-b4ba-d1d94d45d29e",
               :page 59,
               :position {:bounding {:x1 0,
                                     :y1 174.5,
                                     :x2 651.809326171875,
                                     :y2 364.109375,
                                     :width 753,
                                     :height 974.4705882352941},
                          :rects ({:x1 0,
                                   :y1 174.5,
                                   :x2 0,
                                   :y2 193,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 627.4490356445312,
                                   :y1 321.3828125,
                                   :x2 651.809326171875,
                                   :y2 342.8828125,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 94.7265625,
                                   :y1 342.609375,
                                   :x2 460.8702087402344,
                                   :y2 364.109375,
                                   :width 753,
                                   :height 974.4705882352941}),
                          :page 59},
               :content {:text "We start from emotion, then find the rationale to act."},
               :properties {:color "green"}}
              {:id #uuid "6474ce83-7e3a-4d63-b740-8b5c86fe719e",
               :page 60,
               :position {:bounding {:x1 0,
                                     :y1 46.5,
                                     :x2 602.0730590820312,
                                     :y2 508.0625,
                                     :width 753,
                                     :height 974.4705882352941},
                          :rects ({:x1 0,
                                   :y1 46.5,
                                   :x2 0,
                                   :y2 65,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 315.7518005371094,
                                   :y1 465.34375,
                                   :x2 602.0730590820312,
                                   :y2 486.84375,
                                   :width 753,
                                   :height 974.4705882352941}
                                  {:x1 94.7265625,
                                   :y1 486.5625,
                                   :x2 158.70257568359375,
                                   :y2 508.0625,
                                   :width 753,
                                   :height 974.4705882352941}),
                          :page 60},
               :content {:text "Willpower decreases from morning to evening."},
               :properties {:color "yellow"}}
              {:id #uuid "6474cfdd-c450-4911-be11-6033c288adc6",
               :page 61,
               :position {:bounding {:x1 246.41355895996094,
                                     :y1 363.8359375,
                                     :x2 584.9311370849609,
                                     :y2 385.3359375,
                                     :width 753,
                                     :height 974.4705882352941},
                          :rects ({:x1 246.41355895996094,
                                   :y1 363.8359375,
                                   :x2 584.9311370849609,
                                   :y2 385.3359375,
                                   :width 753,
                                   :height 974.4705882352941}),
                          :page 61},
               :content {:text "These enduring motivations I call aspirations"},
               :properties {:color "blue"}}
              {:id #uuid "6479a9bb-b19e-47df-b263-2d15a3758dc6",
               :page 36,
               :position {:bounding {:x1 131.1943176239729,
                                     :y1 968.0250244140625,
                                     :x2 515.6294677704573,
                                     :y2 990.4249877929688,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects ({:x1 131.1943176239729,
                                   :y1 968.0250244140625,
                                   :x2 515.6294677704573,
                                   :y2 990.4249877929688,
                                   :width 846,
                                   :height 1094.8235294117646}),
                          :page 36},
               :content {:text "No behavior happens without a prompt"},
               :properties {:color "purple"}}
              {:id #uuid "6479aa76-ed6c-4740-abc1-343fa7f5e6e1",
               :page 35,
               :position {:bounding {:x1 0,
                                     :y1 93.59999084472656,
                                     :x2 692.0801513642073,
                                     :y2 671.8999938964844,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects ({:x1 0,
                                   :y1 93.59999084472656,
                                   :x2 0,
                                   :y2 114.39999389648438,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 274.37394408881664,
                                   :y1 624.8500061035156,
                                   :x2 692.0801513642073,
                                   :y2 648.0499877929688,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 106.42499999701977,
                                   :y1 648.7000122070312,
                                   :x2 341.8492553681135,
                                   :y2 671.8999938964844,
                                   :width 846,
                                   :height 1094.8235294117646}),
                          :page 35},
               :content {:text "The easier a behavior is to do, the more likely the behavior will become habit."},
               :properties {:color "purple"}}
              {:id #uuid "6479aae6-4b72-408e-aad1-8efedec2cc1e",
               :page 43,
               :position {:bounding {:x1 0,
                                     :y1 61.60000228881836,
                                     :x2 587.5338256806135,
                                     :y2 286.2250061035156,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects ({:x1 0,
                                   :y1 61.60000228881836,
                                   :x2 0,
                                   :y2 82.4000015258789,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 0,
                                   :y1 77.5999984741211,
                                   :x2 0,
                                   :y2 98.4000015258789,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 135.81249694526196,
                                   :y1 215.3249969482422,
                                   :x2 587.5338256806135,
                                   :y2 238.52500915527344,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 135.81249694526196,
                                   :y1 239.1750030517578,
                                   :x2 586.5088623017073,
                                   :y2 262.375,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 135.81249694526196,
                                   :y1 263.0249938964844,
                                   :x2 569.9088256806135,
                                   :y2 286.2250061035156,
                                   :width 846,
                                   :height 1094.8235294117646}),
                          :page 43},
               :content {:text "1. Check to see if there’s a prompt to do the behavior.2. See if the person has the ability to do the behavior.3. See if the person is motivated to do the behavior."},
               :properties {:color "yellow"}}
              {:id #uuid "6479b6fb-85ce-471e-948d-29b30306a5ed",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 269.6000061035156,
                                     :x2 716.9388549774885,
                                     :y2 551.6375122070312,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects ({:x1 0,
                                   :y1 269.6000061035156,
                                   :x2 0,
                                   :y2 290.4000053405762,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 130.20226745307446,
                                   :y1 504.58750915527344,
                                   :x2 716.9388549774885,
                                   :y2 527.7875061035156,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 106.42499999701977,
                                   :y1 528.4375152587891,
                                   :x2 671.3125732392073,
                                   :y2 551.6375122070312,
                                   :width 846,
                                   :height 1094.8235294117646}),
                          :page 11},
               :content {:text "The essence of Tiny Habits is this: Take a behavior you want, make it tiny, find where it fits naturally in your life, and nurture its growth."},
               :properties {:color "green"}}
              {:id #uuid "6479b761-c83e-4f8a-9907-d1427dd3c32d",
               :page 11,
               :position {:bounding {:x1 0,
                                     :y1 45.599998474121094,
                                     :x2 735.7045410126448,
                                     :y2 217.78750610351562,
                                     :width 846,
                                     :height 1094.8235294117646},
                          :rects ({:x1 0,
                                   :y1 45.599998474121094,
                                   :x2 0,
                                   :y2 66.4000015258789,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 109.47537688910961,
                                   :y1 170.75,
                                   :x2 735.7045410126448,
                                   :y2 193.9499969482422,
                                   :width 846,
                                   :height 1094.8235294117646}
                                  {:x1 106.42499999701977,
                                   :y1 194.58750915527344,
                                   :x2 715.2010620087385,
                                   :y2 217.78750610351562,
                                   :width 846,
                                   :height 1094.8235294117646}),
                          :page 11},
               :content {:text "there are only three things we can do that will create lasting change: Have an epiphany, change our environment, or change our habits in tiny ways."},
               :properties {:color "red"}}],
 :extra {:page 61}}
